###################################################
# COS Settings                                    #
###################################################
# HMAC Keys
S3_ACCESS_KEY=xxx
S3_SECRET_KEY=xxx
# your bucket name no leading or trailing slashes
S3_BUCKET=mybucket
# your COS Endpoint (could be public or private)
# COS_ENDPOINT=s3.eu-de.objectstorage.softlayer.net
COS_ENDPOINT=
# full URI to bucket without trailing slash
COS_URI=https://s3.eu-de.objectstorage.softlayer.net/mybucket
# COS Bucket Format like "%(bucket)s.s3.eu-de.objectstorage.softlayer.net"
COS_HOST_BUCKET="%(bucket)s.s3.eu-de.objectstorage.softlayer.net"
###################################################
# IBM Cloud Kubernetes Service Settings           #
###################################################
cluster_name=YOURCLUSTER
# your IBM Cloud Container Registry namespace
namespace=registry.eu-de.bluemix.net/NAMESPACE
